<div class="flex-container">
  <div class="captcha-card">
    <img src="../../assets/images/tetherfi_logo.png" alt="tetherfi-logo" />
    <h3>{{ "captcha_security-verification" | translate }}</h3>
    <div class="captcha-img-container">
      <img
        src="https://miro.medium.com/max/600/1*MHqIWdansPvRMEmUK2KNPw.png"
        alt="captcha-example"
      />
    </div>
    <div class="input-field">
      <label for="captcha">{{ "captcha_form-label" | translate }}: </label>
      <input
        type="text"
        name="captcha"
        placeholder="{{ 'captcha_form-placeholder' | translate }}"
      />
    </div>
    <button>{{ "captcha_form-button" | translate }}</button>
  </div>
</div>
